/* Estilos Gerais */
body {
    font-family:monospace;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

header {
    background-color: #23a1f5;
    color: #0c0c0c;
    padding: 10px;
    text-align: center;
}

/* Estilos para o menu de navegação */
menu {
    width: 100%;
    background-color: #23a1f5;
    padding: 0px;
    box-sizing: border-box;
    
}

menu ul {
    display: inline-block;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
    
}

menu li {
    float: left;
    margin: 5px 20px;
   
    
    

}

menu a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

menu a:hover {
    color: #ddd;
}

/* Exibe o menu quando a classe 'active' é adicionada ao <nav-menu> */
menu.active {
    display: block;
}

/* Estilos para o botão do menu sanduíche em telas pequenas */





section {
    padding: 60px 20px;
    text-align: center;
}

section:nth-child(even) {
    background-color: #f4f4f4;
}

footer {
    background-color: #458ee2;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

/* Formulário de Contato */
form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input, form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    
    border:#06c53f 1px solid;
}

form button {
    background-color: #206ee4;
    color: #0f0f0f;
    border: 1px solid;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
}

form button:hover {
    background-color: #06c53f;
    color:#041f3d;
    border:blueviolet 1px solid;
    border-radius: 10px;
}


* Estilos para o banner */
.banner {
    width: 100%;
    height: auto;
}

/* Estilizando o <section> com o class 'texto' */
.texto {
    background-color: #db181800; /* Cor de fundo clara */
    padding: 20px; /* Espaçamento interno */
    border-radius: 8px; /* Cantos arredondados */
    box-shadow: 5px 5px 4px 5px rgba(51, 153, 221, 0.288); /* Sombra leve */
    margin: 20px auto; /* Espaçamento externo e centralização */
    max-width: 800px; /* Largura máxima */
}

/* Estilizando o <h2> dentro da seção 'servicos' */
.texto h2 {
    color: #05050500; /* Cor do texto */
    font-size: 24px; /* Tamanho da fonte */
    margin-bottom: 15px; /* Espaçamento abaixo do título */
}

/* Estilizando o <p> dentro da seção 'servicos' */
.texto p {
    color: #131212; /* Cor do texto */
    font-size: 14px; /* Tamanho da fonte */
    line-height: 1.6; /* Altura da linha para melhorar a legibilidade */
    text-align: justify; /* Justificar o texto */
}







@media (max-width: 468px) {

     .banner{
        width:100%;
     }
    menu ul {
    
        display:inline-block;
        align-items: center;
        text-align: center;
        
    }
    
    menu li {
        font-size: 11px;
    
    }

    .texto {
        background-color: #db181800; /* Cor de fundo clara */
         /* Espaçamento interno */
        border-radius: 8px; /* Cantos arredondados */
        box-shadow: 5px 5px 4px 5px rgba(51, 153, 221, 0.288); /* Sombra leve */
        margin: 20px auto; /* Espaçamento externo e centralização */
        max-width: 400px; /* Largura máxima */
    }
    .texto h2 {
        color: #05050500; /* Cor do texto */
        font-size: 14px; /* Tamanho da fonte */
        margin-bottom: 15px; /* Espaçamento abaixo do título */
    }
}

    
